body {
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 50%;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
}

.form {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 5px;
}

.dropbox {
	width: 300px;
	height: 120px;
	border: 2px dashed gray;
	text-align: center;
	padding-top: 40px;

	grid-column: 1/2;
	grid-row: 1/4;
}

label[for="dueDate"] {
	grid-column: 2/3;
	grid-row: 1/2;

	align-self: left;
}

#dueDate {
	grid-column: 3/4;
	grid-row: 1/2;

	align-self: left;
}

label[for="commentText"] {
	grid-column: 4/5;
	grid-row: 1/2;
}

#commentText {
	grid-column: 4/5;
	grid-row: 2/4;
}

label[for="sugestions"] {
	grid-column: 2/3;
	grid-row: 2/3;
}

#selectDates {
	grid-column: 3/4;
	grid-row: 2/3;
}

.subGrid {
	grid-column: 1/2;
	grid-row: 3/5;

	display: grid;
	grid-template: 1fr 1fr;
	grid-gap: 5px;
}

label[for="fileNum"] {
	grid-column: 1/2;
	grid-row: 1/2;

	align-self: center;
}

#fileNum {
	grid-column: 2/3;
	grid-row: 1/2;
}

label[for="deliveryDate"] {
	grid-column: 1/2;
	grid-row: 2/3;

	align-self: center;
}

#deliveryDate {
	grid-column: 2/3;
	grid-row: 2/3;
}

label[for="currentStatus"] {
	grid-column: 2/3;
	grid-row: 3/4;
}

#currentStatus {
	grid-column: 3/4;
	grid-row: 3/4;
}

label[for="newStatus"] {
	grid-column: 2/3;
	grid-row: 4/5;
}

#newStatus {
	grid-column: 3/4;
	grid-row: 4/5;
}

#submit {
	grid-column: 4/5;
	grid-row: 4/5;

	justify-self: right;
}

form > label, input, select {
	align-self: center;
}

.wrap {
	grid-column: 1/5;
	grid-row: 2/3;

	width: 100%;
	height: 1000px;
	border: 1px solid lightgray;
	border-radius: 5px;
}

.chooseView {
	grid-column: 1/3;
	grid-row: 2;
}

.third {
	grid-column: 1/3;
	grid-row: 3;
	display: grid;
	grid-template-columns: 1fr;
}

iframe {
	width: 100%;
	height: 1000px;
}

.text {
	grid-column: 1/2;
	grid-row: 1;
	width: 100%;
	height: 1000px;
}

label[for="input"] {
	background: green;
	border-radius: 4px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 90%;
	color: #FFF;
	padding: 8px 12px;
	cursor: pointer; 
}

#popup > button {
	width: 120px;
}

#popup {
	position: absolute;
	/* border: 1px solid grey; */
	background: white;
}

.progressBar {
	display: grid;
	grid-template-columns: 90% 10%;
}



