.dropbox {
	width: 300;
	height: 200px;
	border: 2px dashed;
	line-height: 150px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 80%;
}

.wrapper {
	display: grid;
	grid-template-columns: 350px 1fr;
	grid-gap: 5px;
}

.first {
	grid-column: 1/2;
	grid-row: 1;
}

.second {
	grid-column: 2/3;
	grid-row: 1;
	display: grid;
	grid-template-columns: 150px 150px 150px 150px;
	grid-auto-rows: 50px;
	grid-gap: 5px;
}

form > label {
	align-self: center;
	justify-self: right;
}

form > input, select {
	align-self: center;
	/* justify-self: left; */
}

form > input[type="submit"] {
	grid-column: 4/5;
	
}

/* label[for="commentText"] {
	align-self: left;
} */

.chooseView {
	grid-column: 1/2;
	grid-row: 2;
}

.third {
	grid-row: 3;
	display: grid;
	grid-template-columns: 1fr;
}

iframe {
	border: 1px solid grey; 
	width: 1000px;
	height: 1000px;
}

.text {
	grid-column: 1/2;
	grid-row: 1;
	width: 1000px;
	height: 1000px;
}

#selectDates {
	background-color: hotpink;
}

#newStatus {
	background-color: #47FC00;
}

.inputfile {
	display: none;
}

label[for="input"] {
	background: green;
	border-radius: 4px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 90%;
	color: #FFF;
	padding: 8px 12px;
	cursor: pointer; 
}

form > label {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 80%;
}

form > input, form >select {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 80%;
}

#popup > button {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 80%;
	width: 120px;
}

#popup {
	position: absolute;
	width: 200px;
	height: 120px;
	border: 1px solid grey;
	background: white;
}
